@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    color: #222a43;
}


.container{
    width: 100%;
}
.title{
    text-align:  center;
}
.Subtitle{
    text-align: center;
    font-style: italic;
}
.containerField{


}