.cardContainer{
    background: rgb(21,234,165);
    background: linear-gradient(90deg, rgba(21,234,165,1) 0%, rgba(15,166,110,1) 100%);
    margin: 1rem auto;
    padding: 15px;
    border-radius: 1rem;
}
.cardsmallSquare{
    background-color: #8EF4DB;
    padding: 30px;
    border-radius: 1rem;
    cursor: pointer;
}