@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.formcontainer{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
    font-family: 'Poppins', sans-serif;

}
.input{
    font-size: 1rem;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #0FA66E;
    outline: none;
    color: #222a43;
    
    font-family: 'Poppins', sans-serif;
}
.button{
    font: 1rem;
    background-color:#0FA66E ;
    color: #fff;
    padding: 0.8em ;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
    transition: transform 0.6s ease-in-out;
    font-family: 'Poppins', sans-serif;
}
button:hover{
    transform: scale(1.2);
}
