.container{
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 30px;

}
.button{
    font-size: 0.8rem;
    background-color:#0FA66E ;
    color: #fff;
    padding: 0.8em ;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
    transition: transform 0.6s ease-in-out;
    margin: 0 3px;
    :not(:disabled) {
        /* Color de fondo cuando no está desactivado */
        background-color: #0FA66E;
    
        /* Estilos adicionales que desees aplicar cuando no está desactivado */
        /* ... */
    }
    
      /* Estilo cuando el botón está desactivado (página actual) */
    &:disabled {
        /* Color de fondo cuando está desactivado (página actual) */
        background-color: #15EAA5;
        cursor: default ;
    }
}
